@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: #8888;
  cursor: pointer;
}

.breadcrumb-custom > ol {
  display: flex;
  gap: 4px;
  align-items: center;
}
